body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.first-screen {
    background-color: 262728;
    color:#fff;
}

.header, .sports, .fight, .aboutus, .wrapper, .pass, .info{
    width: 95%;
    margin: 0 auto;
}

.aboutus{
	margin-top: 60px;
}

.fight img {
    width: 100%;
    height: auto;
}

.header, .sports ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;   
}

.header .menu ul, .sports ul  {
    display: flex;
    list-style: none;
}

.sports li {
    color: rgba(255, 255, 255, 0.6);
    
}

.header .menu ul li {
    margin-right: 56px;
     
}

.logo {
    width: 10%;
}

.header .menu ul a {
    color:#fff;
    text-decoration: none ;
}

.menu {
    width: 35%;
    text-align: left;
}
.phone {
    width: 25%;
    text-align: right;
    
   
}

.custom-button {
    background-color: #A31111;
    color:#fff;
    padding: 9px 64px;
    border: none;
    margin: 51px 0px 34px 0;
 
}
.divider {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    width: 95%;
    margin: 0 auto;
}
.sports li:first-child {
    font-family: 'Stalinist One', cursive;
    font-size: 100px;
    color:#fff;

}

#marquee {
    font-family: 'Stalinist One', cursive;
    font-size: 20px;
    line-height: 100px;


}

.row, p {
    font-family: 'Open Sans', sans-serif;

}
.uppercase {
    color:#A31111;
    font-size: 55px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;

}
.mission {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;

}
.text-block, .image-block {
    margin: 0;
	padding: 0;	
    box-sizing: border-box;
}

.text-block {
	width: 70%;
}

.text-block p {
    font-size: 20px;
    margin-top: 24px;
}
.image-block {
	width: 30%;
    
}

.image-block img{
	width: 100%;
	height: auto;
    
}

.Whywe {
    position: relative; /* для размещение круга с блюром*/
    background-color:#262728;
    color: #fff;
    height: 800px;   
}

.unit { /* заголовки раздела*/
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
    text-transform: uppercase;
}


.headline {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 400;    
}

.discription {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 24px;

}
.group{
    text-align: center;      
    
}

.advantage, .advantage2 {
    width: 400px;
    height: 200px;
    display:inline-block;
    text-align: left;
    vertical-align: top;
    padding: 0px 0 0 50px;
    margin-left: -5px;
    border-right: 1px solid rgba(255, 255, 255, 0.3); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.advantage:first-child {
    padding:0;

}
.advantage2:first-child{
    padding: 60px 0 0 0;
}

.advantage:last-child,
.advantage2:last-child{
    border-right: none;
}

.circle {
    position: absolute;
    height: 562px;
    width: 562px;
    border-radius: 50%; 
    background-color:rgba(247, 247, 247, 0.2); 
    filter:blur(200px); 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
}

.advantage2 {
    border-bottom: none;
    padding-top: 60px;
}

.people p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 600; 
    margin: 18px 0 0 0;  
}
.people {
    display: flex;
    justify-content: center;
    margin-bottom:100px;
}

.block {   
    text-align: center;
    
}
.block img {
	width: 330px;
	height: 330px;     
}

.special {
    background: #262728;
    background-image: url(../image/kimono.jpg);
    background-position: right;
    background-repeat: no-repeat;
    min-height:400; 
    width: 100%;
    margin: 0 auto; 

}
.offer {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 400; 
    color: #fff;
    padding-top: 75px;
}
.request {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 00;
    margin:12px 0 26px 0;
}

input[type=text]{
    width: 260px;
    margin-right: 18px;
    height: 38px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: none;
    padding-left: 12px;
}
.wrapper .custom-button {
    margin-top: 32px;
}
 
    
.request span {
    text-transform: uppercase;
}

.block .belt, .text-offer, .text-item{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin: 0;
}

.tarif {
    position: relative; /* для размещение круга с блюром*/
    background-color: #262728 ;
    color: #fff;
    height: 700px;       
}

.pass {
    justify-content: center;   
}
.month, .free, .once {
    width: 20%;
    border-top: 1px solid rgba(255, 255, 255, 0.3); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);    
}

.month {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.name {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 40px 0 18px 18px; 
}

.price {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 60px 0 0 18px;
}

.text-offer {
    margin: 0 0 0 18px;
}

.pass .custom-button {
    margin: 10px 0 40px 18px;
    font-family: 'Oswald', sans-serif;
}

.footer {
    background-color: #262728 ;
    color: #fff;
    min-height: 460px;
    
}

.mobile, .adress, .email, .social {
    width: 17%;
}

.info {
    justify-content: center;
    margin-top: 30px;
}
.adress ul {
    padding: 0;
    margin: 0;

}
.adress li {
    list-style: none;
    padding: 0;
}

.item {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px; 
}
.social img {
    padding-right: 12px;
}













    





    

 
